body {
    font-size: 1em;
    background-color:#ffd9b3;
    color: black;
    margin: auto;
    
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    overflow: auto;
    padding: 1em;
}

header {
    background-color: #006666;
    text-align: right;
    padding: 1em;
}

header a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #006666;
    text-align: center;
    padding: 0.2em;
    color: white;
}